@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');


/*--------------------------Base-----------------*/
.alert-color{
    border-radius: 10px;
    text-align: center;
    background-color: #F7BAF0;
}

/*-------------------------------About/contact------*/

.cardbody-color{
    background-color: rgba(247, 186, 240, 0.3);
}

/*--------------------------Nav/header----------*/
.nav-color{
    background: linear-gradient(90deg, rgba(166,191,255,1) 1%, rgba(164,234,192,1) 99%);
}

.nav-font{
    font-family: 'Dancing script', 'Times New Roman';
    font-size: 30px;
}

/*-------------------------Landing/PostsFeed---------*/
.big-font{
    font-size: 55px;
    font-family: 'Dancing script', 'Times New Roman';
}

.p-big-font{
    font-family: 'Handlee';
    font-size: 22px;
}

.logo-img{
    width: 40%;
    height: auto;
}

.btn-color{
    background-color: #A6BFFF;
}
.btn-color:hover{
    background-color: #A4EAC0;
}

.icon:hover{
    font-size: 16px;
    color: #F7BAF0;
}

.big-icon i{
    background: linear-gradient(90deg, rgba(166,191,255,1) 1%, rgba(164,234,192,1) 99%);
}

.rubrics{
    font-family: 'Handlee', 'Times New Roman';
    font-size: 45px;
}

.feed-username{
    text-decoration: none;
    font-family: 'Handlee';
    color: black;
    font-weight: 800;
    font-size: 18px;
}

.feed-username:hover{
    color: #A4EAC0;
}

.upload-images{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.btn-like{
    background: white;
    border: none;
    margin-left: 15px;
}
.liked{
    color: #F7BAF0;
}

.feed-rubric{
    font-family: 'Dancing script';
    font-size: 38px;
}
/*-----------------------Post-detail-----------*/

textarea{
    width: 100%;
}

.back-btn{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Handlee';
}
.back-btn:hover{
    color: grey;
}


/*----------------------Profile----------------*/

.follow-btn{
    background-color: #A4EAC0;
    border-radius: 10px;
    font-family: 'Handlee';
}

.follow-btn:hover{
    background-color: #76eea6;
}

.unfollow-btn{
    background-color: #A6BFFF;
    border-radius: 10px;
    font-family: 'Handlee';
}
.unfollow-btn:hover{
    background-color: #7d9ef3;
}

.profile-image{
    width: 15rem;
    height: 15rem;
    display: grid;
}

.moon-friends{
    text-align: center;
    font-family: 'Handlee';
    font-size: 22px;
    font-weight: 900;
}

.bio{
    text-align: center;
}

.bio-username{
    text-align: center;
    font-family: 'Handlee';
    font-weight: bold;
}

/*-------------------------------Search results-----*/

.search-result, 
.bio-text{
    
    font-size: 20px;
    text-align: center;

}

.search-result a{
    text-decoration: none;
    color: black;
}

.search-result:hover{
    border-bottom: black 1px solid;
}
/*---------------------------Messages-----*/

.message-send{
    border-radius: 20px;
    float: right;
    background-color: #A4EAC0;
    padding: 0.4rem;
    
}

.message-receiver{
    border-radius: 20px;
    float: left;
    background-color: #F7BAF0;
    padding: 0.4rem;
    
}

.chat-box{
    height: 80%;
    overflow-y: scroll;
    
}

#chat-search{
    display: block;
}

.second-rubric{
    font-family: 'Dancing script';
    font-size: 30px;
    font-stretch: 2px;
}

.conversations{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: 'Handlee';
}

/*--------------------------Footer--------*/

.footer-copy{
    background: linear-gradient(90deg, rgba(166,191,255,1) 1%, rgba(164,234,192,1) 99%);
}

.footer-social-bg{
    background: rgb(165 220 213);