@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Handlee&display=swap');
/*--------------------------Nav/header----------*/
.nav-color{
    background: linear-gradient(90deg, rgba(166,191,255,1) 1%, rgba(164,234,192,1) 99%);
}

.nav-font{
    font-family: 'Dancing script', 'Times New Roman';
    font-size: 30px;
}

/*-------------------------Landing/PostsFeed---------*/
.big-font{
    font-size: 55px;
    font-family: 'Dancing script', 'Times New Roman';
}

.p-big-font{
    font-family: 'Handlee';
    font-size: 22px;
}

.logo-img{
    width: 40%;
    height: auto;
}

.btn-color{
    background-color: #A6BFFF;
}
.btn-color:hover{
    background-color: #A4EAC0;
}

.icon:hover{
    font-size: 16px;
    color: #F7BAF0;
}

.big-icon{
    background: linear-gradient(90deg, rgba(166,191,255,1) 1%, rgba(164,234,192,1) 99%);
}

.rubrics{
    font-family: 'Handlee', 'Times New Roman';
    font-size: 45px;
}

.upload-images{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*-----------------------Post-detail-----------*/

textarea{
    width: 100%;
}