<div class="dropdown">
    <span class="badge bg-primary notification-badge" onclick="showNotifications()">{{ notification.count }}</span>
	<div class="dropdown-content d-none" id="notification-container">
        {% for notis in notification %}
        {% if notis.inbox_thread %}
        <div class="dropdown-item-parent">
            <a href="{% url 'message-notis' notis.pk notis.inbox_thread.pk %}">@{{ notis.notis_from }} sent you a message</a>
            
        </div>
        {% endif %}
        {% endfor %}
</div>
</div>