{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h4  class="text-center rubrics"><i class="far fa-plus-square big-icon"></i>Feed</h4>
            <h5 class="text-center">Logged in as @{{ user.username }}
            </h5>
        </div>
    </div>
    {% if post_feed.all.count == 0 %}
	<div class="row">
		<div class="col-md-6 col-sm-12 mt-3 mx-auto">
			<h4 class="empty-text text-center">Welcome to Utopi'Ally {{ user.username }}!</h4>
            <p class="text-center">We are happy to have your here and to call you our new moon friend! <br>
            Im your first guide for what you can do here. <br>
                So lets start! <br>
            
            First, Let us know more about you in your Profile page, upload a awsome profile picture of yourself, or whatever you like. <br>
            
            You can search for other users to connect with in the navbar <br>
            You can upload posts and images for your profile page and for your followers to see in the feed. <br>
        Like and comment your favourite post<br>
        And of course, chat with your new moon friends</p>
        
		</div>
	</div>
	{% endif %}

</div>

            {% for post in post_feed %}
            <div class="row justify-content-center m-0">
                <div class="col-md-6 mx-auto">
                    <div class="card mb-6 mt-3 mx-auto">  
                        <div class="position-relative">
                            {% if post.upload %}
                            <img src="{{ post.upload.url }}" class="upload-images">
                            {% endif %}
                            <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                            </div> 
                            <div class="m-3">
                                {% if "placeholder" in post.author.profile.picture.url %}
                                <img class="rounded-circle"  width="30" heigh="30" src="{% static 'image/default_profile.png' %}"/>
                                {% else %}
                                <img class="rounded-circle"  height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                                {% endif %}
                                <a class="feed-username" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
                            </div> 
                                <div class="position-relative"> 
                                    <p class="p-body-font m-3">{{ post.body }}</p>
                                    
                                
                                <div class="col justify-between m-3">
                                    <small class="text-muted"> {{ post.created_on }} </small>

                                    <div class="mt-2">
                                        <p><i class="far fa-moon"></i> Likes <span class="text-secondary"> {{ post.number_of_likes }} </span><i class="far fa-comment"></i> Comments </p>
                                    </div>
                                    <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                                </div>
                                </div>
                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}
      