{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h4  class="text-center rubrics"><i class="far fa-plus-square big-icon"></i>Feed</h4>
            <h5 class="text-center">Logged in as @{{ user.username }}
            </h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 m-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" action="" class="forms" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="d-grid gap-2">
                    <button class="btn btn-color mt-3">Upload!</button>
                </div>
            </form>
        </div>
    </div>

</div>

            {% for post in post_feed %}
            <div class="row justify-content-center">
                <div class="col-md-8 mx-auto">
                    <div class="card mb-8 mt-3 mx-auto">  
                        <div class="position-relative">
                            {% if post.upload %}
                            <img src="{{ post.upload.url }}" class="upload-images">
                            {% endif %}
                            <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                            </div> 
                            <div class="m-3">
                                {% if "placeholder" in post.author.profile.picture.url %}
                                <img class="rounded-circle"  width="30" heigh="30" src="{% static 'image/default_profile.png' %}"/>
                                {% else %}
                                <img class="rounded-circle"  height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                                {% endif %}
                                <a class="feed-username" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
                            </div> 
                                <div class="position-relative"> 
                                    <p class="p-body-font m-3">{{ post.body }}</p>
                                    <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                                </div>
                                <div class="m-3">
                                    <small class="text-muted"> {{ post.created_on }}</small>
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'post_like' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                    
                                        <button type="submit" name="post_id" value="{{post.pk}}" class="btn-like"><i class="fas fa-moon"></i></button>
                    
                                    {% else %}
                                        <button type="submit" name="post_id" value="{{post.pk}}" class="btn-like"><i class="far fa-moon"></i></button>
                    
                                    {% endif %}
                                    </form>
                                    {% else %}
                                    <span class="text-secondary">{{ post.number_of_likes }}</span>
                                    {% endif %}
                                    <span class="text-secondary"> {{ post.number_of_likes }}  </span>
                                </div>
                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}
<!--<div class="container-fluid">
    <div class="row">
         Feed with uploadet Posts 
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in home %}
                <div class="col-md-6 mx-auto">
                    <div class="card mb-6 mx-auto">
                        <div class="card-body">
                            <div class="card-header header-bg">{{ post.username }}</div>
                            <div class="image-container">
                                <img class="card-img-top" src="{{ post.shared_image.url }}">
                                <div class="card-body">
                                    <p class="card-text">{{ post.content }}</p>
                                    <p class="card-text"><i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                                    <p class="card-text"><small class="text-muted">{{ post.created_on }}</small></p>
                                </div>
                            </div>
                        </div>
                      </div> 
                     </div>    
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>-->