{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center m-2">
        <div class="list-group col-md-8 col-sm-12 mt-3">
          <h1 class="rubrics text-center mb-3"><i class="far fa-envelope big-icon"></i> Inbox</h1>
          <p class="text-center">Here are your inbox. All of your conversations will be saved here. <br>
             To start a new conversation, just click on the button below!</p>
          <div class="row">
            <div class="col-md-6 col-sm-12 m-2 mt-2 mx-auto">
            <form action="{% url 'new-thread' %}" method="GET">
              <div class="d-grid gap-2">
              <button class="btn btn-color" type="submit">New Chat</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="col-md-8 col-sm-12 mt-3">
            <h4 class="text-center">Your conversations with:</h4>
            {% if inboxthread.all.count == 0 %}
            <p class="text-center text-muted m-5">
              No conversations here yet!</p>
            {% endif %}
          </div>

        </div>
          

          {% for inbox_thread in inboxthread.all %}
            <div class="row justify-between">
              <div class="list-group col-6 mx-auto">

                <div class="text-center">
                  <a href="{% url 'message' inbox_thread.pk %}" class="conversations">
                  {% if "placeholder" in inbox_thread.user.profile.picture.url %}
                  <img class="rounded-circle"  width="25" heigh="25" src="{% static 'image/default_profile.png' %}"/>
                  {% else %}
                  <img class="rounded-circle"  height="25" width="25" src="{{ inbox_thread.author.profile.picture.url }}" />
                  {% endif %}
                {{ inbox_thread.user_receiver }} </a>
                {% if request.user == inbox_thread.user %}
                <a href="{% url 'delete-thread' inbox_thread.pk %}" class=""> <i class="far fa-trash-alt"></i></a></div>
                {% endif %}

          </div>
        </div>
      </div>
        {% endfor %}
        </div>
      </div>
    </div>



           
    
 


{% endblock %}