{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 col-sm-12">
            <h4  class="text-center rubrics"><i class="fas fa-search big-icon"></i>Search Result</h4>
        </div>
    </div>
  </div>

<div class="container">
    {% for result in results %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 ">
              
                <p class="search-result">
                    {% if "placeholder" in result.user.profile.picture.url %}
                    <img width="30" heigh="30" class="rounded-circle" src="{% static 'image/default_profile.png' %}"/>
                    {% else %}
                    <img height="30" width="30" class="rounded-circle" src="{{ result.user.profile.picture.url }}" />
                    {% endif %}
                    <a href="{% url 'search_user' result.pk %}">{{ result.user }}</a>
                </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}