{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-md-3 col-sm-12">
          <h4  class="text-center rubrics"><i class="far fa-user big-icon"></i>Profile @{{ user.username }}</h4>
      </div>
  </div>
</div>

<div class="row justify-content-center mt-3 m-5">
    <div class="card shadow-sm  col-md-8 col-sm-12 border-bottom">
      {% if "placeholder" in profile.picture.url %}
      <img src="{% static 'default_profile.png' %}" width="100" heigh="100"/>
      {% else %}
      <img src="{{ profile.picture.url }}" class="m-3" width="100" heigh="100"/>
      {% endif %}

      {% if profile.name %}
      <p class="m-2"><strong>Name: </strong>{{ profile.name }}</p>
      {% endif %}

      {% if profile.location %}
      <p class="m-2"><strong>Location: </strong>{{ profile.location }}</p>
      {% endif %}

      {% if profile.birthday %}
      <p class="m-2"><strong>Birthday: </strong>{{ profile.birthday }}</p>
      {% endif %}

      {% if profile.gender %}
      <p class="m-2"><strong>Gender: </strong>{{ profile.gender }}</p>
      {% endif %}

      {% if profile.bio %}
      <p class="m-2">{{ profile.bio }}</p>
      {% endif %}
    </div>
</div>
</div>
          {% for post in posts %}
          <div class="row justify-content-center">
              <div class="col-md-6 mx-auto">
                  <div class="card mb-6  position-relative">
                      <div class="card-body">
                          <p class="card-header header-bg">{{ post.author }}
                              {% if request.user == post.author %}
                                  <a href="{% url 'post_edit' post.pk %}"><i class="far fa-edit"></i></a>
                                  <a href="{% url 'post_delete' post.pk %}"><i class="far fa-trash-alt"></i></a>
                              {% endif %}</p>
                          <p class="p-body-font">{{ post.body }}</p>
                          <p><i class="far fa-heart"></i> 
                              <i class="far fa-sad-tear"></i> 
                              <i class="fas fa-heart-broken"></i> 
                              <i class="far fa-laugh-beam"></i> 
                              <i class="far fa-comment"></i> 
                              <small class="text-muted">{{ post.created_on }}</small></p>
                          <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock content %}