{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-md-3 col-sm-12">
          <h4  class="text-center rubrics"><i class="far fa-user big-icon"></i>Profile</h4>
      </div>
  </div>
</div>

<div class="row justify-content-center mt-3 md-3">
    <div class="col shadow-sm  col-md-6 mx-auto">
        <h4 class="m-2">@{{ user.username }} 
            <span>
                {% if request.user == user %}
                 <a href="{% url 'profile_edit' profile.pk %}"><i class="fas fa-ellipsis-h"></i></a>
                {% endif %}
            </span>
        </h4>
      {% if "placeholder" in profile.picture.url %}
      <img src="{% static 'image/default_profile.png' %}" class="profile-image m-3 shadow-lg rounded" />
      {% else %}
      <img src="{{ profile.picture.url }}" class="m-3 profile-image shadow-lg rounded" />
      {% endif %}
      <div>
        <h5>Moon Friends: {{ profile.number_of_followers }}</h5>
        {% if user == request.user %}
        {% else %}
        {% if follow %}
        <form method="POST" action="{% url 'un_follow' profile.pk %}">
            {% csrf_token %}
            <button type="submit" class="unfollow-btn">Unfollow</button>
        </form>
        {% else %}
        <form method="POST" action="{% url 'add_follower' profile.pk %}">
            {% csrf_token %}
            <button type="submit" class="follow-btn">Follow</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
      {% if profile.name %}
      <p class="m-2"><strong>Name: </strong>{{ profile.name }}</p>
      {% endif %}

      {% if profile.location %}
      <p class="m-2"><strong>Location: </strong>{{ profile.location }}</p>
      {% endif %}

      {% if profile.birthday %}
      <p class="m-2"><strong>Birthday: </strong>{{ profile.birthday }}</p>
      {% endif %}

      {% if profile.gender %}
      <p class="m-2"><strong>Gender: </strong>{{ profile.gender }}</p>
      {% endif %}

      {% if profile.bio %}
      <p class="m-2">{{ profile.bio }}</p>
      {% endif %}
    </div>

</div>
</div>
          {% for post in posts %}
          <div class="row justify-content-center">
              <div class="col-md-6 mx-auto">
                  <div class="card mb-6  position-relative">
                      <div class="card-body">
                          <p class="card-header header-bg">{{ post.author }}
                              {% if request.user == post.author %}
                                  <a href="{% url 'post_edit' post.pk %}"><i class="far fa-edit"></i></a>
                                  <a href="{% url 'post_delete' post.pk %}"><i class="far fa-trash-alt"></i></a>
                              {% endif %}</p>
                              {% if post.upload %}
                              <img src="{{ post.upload.url }}" class="upload-images">
                              {% endif %}
                          <p class="p-body-font">{{ post.body }}</p>
                          <p><i class="far fa-heart"></i> 
                              <i class="far fa-sad-tear"></i> 
                              <i class="fas fa-heart-broken"></i> 
                              <i class="far fa-laugh-beam"></i> 
                              <i class="far fa-comment"></i> 
                              <small class="text-muted">{{ post.created_on }}</small></p>
                          <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock content %}